.hero {
    text-align: center;
    padding: 15rem 0;
    position: relative;
}
.hero .title {
    line-height: 1;
    margin-bottom: 2rem;
}
.hero .text {
    margin: 0 auto 3rem;
    max-width: 40rem;
}
.hero__img-box {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
}
.hero__img {
    display: block;
    width: 100%;
    border-radius: 3rem 0 0 0;
    max-height: 50rem;
    object-fit: cover;
}
.hero__block {
    margin-bottom: 3rem;
}






.contacts {
    padding: 15rem 0;
    text-align: center;
}
.contacts .sub-title {
    margin-bottom: 2rem;
}
.contacts .text--mb {
    margin-bottom: 3rem;
}
.contacts__item:not(:last-child) {
    margin-bottom: 2.5rem;
}
.contacts .btn {
   margin-bottom: 5rem;
}
.contacts__item-box {
    display: none;
}



.policy__wrapper {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1880 442' fill='none'%3E%3Cg opacity='0.1'%3E%3Cpath d='M0 441.852C0.332031 441.84 0.667969 441.824 1 441.812C91.3867 438.676 163.02 397.141 232.375 356.926L232.402 356.91C304.25 315.246 372.102 275.895 460.035 275.895C547.949 275.895 615.793 315.234 687.621 356.887L687.656 356.91L687.715 356.945C759.84 398.762 834.418 442 929.996 442C1025.59 442 1100.2 398.742 1172.34 356.91L1172.38 356.875L1172.44 356.84C1244.25 315.211 1312.08 275.895 1399.96 275.895C1487.89 275.895 1555.74 315.246 1627.59 356.91L1627.64 356.934C1699.77 398.754 1774.35 442 1869.93 442C1873.32 442 1876.67 441.945 1880 441.84V391.191C1876.67 391.305 1873.32 391.363 1869.93 391.363C1782 391.363 1714.14 352.02 1642.3 310.359C1570.17 268.523 1495.56 225.258 1399.96 225.258C1304.38 225.258 1229.79 268.512 1157.65 310.344L1157.62 310.359C1085.79 352.02 1017.93 391.363 929.996 391.363C842.066 391.363 774.215 352.02 702.375 310.359L702.34 310.336C630.207 268.508 555.621 225.258 460.035 225.258C364.441 225.258 289.852 268.512 217.715 310.344L217.688 310.359C148.582 350.434 83.1562 388.371 0 391.195V441.852Z' fill='%239b9b9b'%3E%3C/path%3E%3Cpath d='M0 329.309C0.332031 329.301 0.667969 329.289 1 329.277V329.246C91.3828 326.094 163.016 284.32 232.367 243.875L232.402 243.852C304.242 201.941 372.098 162.359 460.035 162.359C547.953 162.359 615.801 201.938 687.629 243.836L687.656 243.852L687.727 243.887C759.855 285.949 834.426 329.438 929.996 329.438C1025.59 329.438 1100.18 285.93 1172.34 243.852L1172.38 243.828C1244.21 201.93 1312.05 162.359 1399.96 162.359C1487.89 162.359 1555.75 201.941 1627.59 243.852L1627.65 243.887C1699.78 285.945 1774.36 329.438 1869.93 329.438C1873.32 329.438 1876.67 329.383 1880 329.277V278.332C1876.67 278.445 1873.32 278.504 1869.93 278.504C1782 278.504 1714.14 238.93 1642.3 197.023C1570.17 154.945 1495.56 111.43 1399.96 111.43C1304.38 111.43 1229.79 154.934 1157.65 197.008L1157.62 197.023C1085.79 238.93 1017.93 278.504 929.996 278.504C842.066 278.504 774.215 238.93 702.375 197.023L702.34 197C630.207 154.93 555.621 111.43 460.035 111.43C364.441 111.43 289.852 154.934 217.715 197.008L217.688 197.023C148.582 237.336 83.1562 275.496 0 278.336V329.309Z' fill='%239b9b9b'%3E%3C/path%3E%3Cpath d='M0 216.59C0.335938 216.578 0.667969 216.566 1 216.555C91.375 213.418 162.996 171.895 232.344 131.688L232.402 131.652C304.238 89.9883 372.094 50.6367 460.035 50.6367C547.965 50.6367 615.816 89.9883 687.656 131.652L687.738 131.699C759.859 173.512 834.434 216.742 929.996 216.742C1025.58 216.742 1100.18 173.492 1172.3 131.676L1172.34 131.652C1244.2 89.9805 1312.04 50.6367 1399.96 50.6367C1487.9 50.6367 1555.75 89.9883 1627.59 131.652L1627.7 131.723C1699.81 173.523 1774.38 216.742 1869.93 216.742C1873.32 216.742 1876.67 216.688 1880 216.582V165.934C1876.67 166.047 1873.32 166.105 1869.93 166.105C1782 166.105 1714.14 126.762 1642.3 85.0977C1570.17 43.2617 1495.56 0 1399.96 0C1304.37 0 1229.77 43.2578 1157.62 85.0977C1085.79 126.762 1017.93 166.105 929.996 166.105C842.066 166.105 774.215 126.762 702.352 85.0859C630.215 43.2539 555.629 0 460.035 0C364.434 0 289.84 43.2578 217.688 85.0977C148.582 125.176 83.1562 163.113 0 165.938V216.59Z' fill='%239b9b9b'%3E%3C/path%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.policy {
    padding: 15rem 0;
    text-align: center;
    position: relative;
}
.policy .sub-title {
    margin-bottom: 12rem;
}
.policy__item:not(:last-child) {
    margin-bottom: 8rem;
}
.policy__title {
    font-family: var(--title-font);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.policy__block {
    max-width: 50rem;
    margin: 0 auto;
}
.policy__item .text {
    margin-bottom: 3rem;
}




.question {
    padding: 10rem 0 12rem;
    text-align: center;
}
.question .sub-title {
    margin-bottom: 6rem;
}
.question__sub-title {
    font-family: var(--title-font);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.question__item:not(:last-child) {
    margin-bottom: 5rem;
}
.question__item .text {
    margin-left: auto;
    margin-right: auto;
    max-width: 55rem;
}



.sub-title span {
    display: block;
    font-family: var(--main-font);
}
@media screen and (min-width: 1440px)  {
    .hero__wrapper-main {
        position: relative;
    }
    .hero__wrapper-main::before {
        position: absolute;
        display: block;
        content: '';
        background-image: linear-gradient(to right bottom, var(--second-brand-color), var(--third-brand-color));
        width: 60%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 0 0 0 20rem;
    }
    .hero-btn:hover {
        box-shadow: none;
    }
    .hero {
        padding: 20rem 10rem 15rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row-reverse;
        text-align: right;
    }
    .hero .text,
    .hero .btn {
       margin-right: 0;
    }
    .hero__block {
        margin-bottom: 0;
    }
    .hero__img-box {
        margin: 0 10rem 0 0;
        position: relative;
    }
    .hero__img {
        border-radius: 10rem 0 0 0;
    }
    .hero__img-box::before {
        display: block;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1880 442' fill='none'%3E%3Cg opacity='0.34'%3E%3Cpath d='M0 441.852C0.332031 441.84 0.667969 441.824 1 441.812C91.3867 438.676 163.02 397.141 232.375 356.926L232.402 356.91C304.25 315.246 372.102 275.895 460.035 275.895C547.949 275.895 615.793 315.234 687.621 356.887L687.656 356.91L687.715 356.945C759.84 398.762 834.418 442 929.996 442C1025.59 442 1100.2 398.742 1172.34 356.91L1172.38 356.875L1172.44 356.84C1244.25 315.211 1312.08 275.895 1399.96 275.895C1487.89 275.895 1555.74 315.246 1627.59 356.91L1627.64 356.934C1699.77 398.754 1774.35 442 1869.93 442C1873.32 442 1876.67 441.945 1880 441.84V391.191C1876.67 391.305 1873.32 391.363 1869.93 391.363C1782 391.363 1714.14 352.02 1642.3 310.359C1570.17 268.523 1495.56 225.258 1399.96 225.258C1304.38 225.258 1229.79 268.512 1157.65 310.344L1157.62 310.359C1085.79 352.02 1017.93 391.363 929.996 391.363C842.066 391.363 774.215 352.02 702.375 310.359L702.34 310.336C630.207 268.508 555.621 225.258 460.035 225.258C364.441 225.258 289.852 268.512 217.715 310.344L217.688 310.359C148.582 350.434 83.1562 388.371 0 391.195V441.852Z' fill='%239b9b9b'%3E%3C/path%3E%3Cpath d='M0 329.309C0.332031 329.301 0.667969 329.289 1 329.277V329.246C91.3828 326.094 163.016 284.32 232.367 243.875L232.402 243.852C304.242 201.941 372.098 162.359 460.035 162.359C547.953 162.359 615.801 201.938 687.629 243.836L687.656 243.852L687.727 243.887C759.855 285.949 834.426 329.438 929.996 329.438C1025.59 329.438 1100.18 285.93 1172.34 243.852L1172.38 243.828C1244.21 201.93 1312.05 162.359 1399.96 162.359C1487.89 162.359 1555.75 201.941 1627.59 243.852L1627.65 243.887C1699.78 285.945 1774.36 329.438 1869.93 329.438C1873.32 329.438 1876.67 329.383 1880 329.277V278.332C1876.67 278.445 1873.32 278.504 1869.93 278.504C1782 278.504 1714.14 238.93 1642.3 197.023C1570.17 154.945 1495.56 111.43 1399.96 111.43C1304.38 111.43 1229.79 154.934 1157.65 197.008L1157.62 197.023C1085.79 238.93 1017.93 278.504 929.996 278.504C842.066 278.504 774.215 238.93 702.375 197.023L702.34 197C630.207 154.93 555.621 111.43 460.035 111.43C364.441 111.43 289.852 154.934 217.715 197.008L217.688 197.023C148.582 237.336 83.1562 275.496 0 278.336V329.309Z' fill='%239b9b9b'%3E%3C/path%3E%3Cpath d='M0 216.59C0.335938 216.578 0.667969 216.566 1 216.555C91.375 213.418 162.996 171.895 232.344 131.688L232.402 131.652C304.238 89.9883 372.094 50.6367 460.035 50.6367C547.965 50.6367 615.816 89.9883 687.656 131.652L687.738 131.699C759.859 173.512 834.434 216.742 929.996 216.742C1025.58 216.742 1100.18 173.492 1172.3 131.676L1172.34 131.652C1244.2 89.9805 1312.04 50.6367 1399.96 50.6367C1487.9 50.6367 1555.75 89.9883 1627.59 131.652L1627.7 131.723C1699.81 173.523 1774.38 216.742 1869.93 216.742C1873.32 216.742 1876.67 216.688 1880 216.582V165.934C1876.67 166.047 1873.32 166.105 1869.93 166.105C1782 166.105 1714.14 126.762 1642.3 85.0977C1570.17 43.2617 1495.56 0 1399.96 0C1304.37 0 1229.77 43.2578 1157.62 85.0977C1085.79 126.762 1017.93 166.105 929.996 166.105C842.066 166.105 774.215 126.762 702.352 85.0859C630.215 43.2539 555.629 0 460.035 0C364.434 0 289.84 43.2578 217.688 85.0977C148.582 125.176 83.1562 163.113 0 165.938V216.59Z' fill='%239b9b9b'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 60rem;
        height: 20rem;
        position: absolute;
        bottom: 0;
        left: -20rem;
    }
    .hero .title,
    .hero .text {
        color: var(--sub-text-color);
    }





    .contacts .btn {
        margin-bottom: 10rem;
    }
    .contacts__item-box {
        display: block;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        -webkit-box-shadow: -1rem 1rem 2rem 0rem rgba(0,0,0,0.3);
        -moz-box-shadow: -1rem 1rem 2rem 0rem rgba(0,0,0,0.3);
        box-shadow: -1rem 1rem 2rem 0rem rgba(0,0,0,0.3);
        background-color: var(--sub-text-color);
        margin-right: 3rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3rem;
    }
    .contacts__list {
        text-align: left;
        max-width: 70rem;
        margin: 0 auto;
    }
    .contacts__item {
        display: flex;
        align-items: center;
    }
    .contacts__item-box--first {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' enable-background='new 0 0 512 512' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m407.579 87.677c-31.073-53.624-86.265-86.385-147.64-87.637-2.62-.054-5.257-.054-7.878 0-61.374 1.252-116.566 34.013-147.64 87.637-31.762 54.812-32.631 120.652-2.325 176.123l126.963 232.387c.057.103.114.206.173.308 5.586 9.709 15.593 15.505 26.77 15.505 11.176 0 21.183-5.797 26.768-15.505.059-.102.116-.205.173-.308l126.963-232.387c30.304-55.471 29.435-121.311-2.327-176.123zm-151.579 144.323c-39.701 0-72-32.299-72-72s32.299-72 72-72 72 32.299 72 72-32.298 72-72 72z'/%3E%3C/g%3E%3C/svg%3E");
    }
    .contacts__item-box--second {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121 C512,114.073,510.297,107.588,507.49,101.721z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51 C480.412,77.703,473.927,76,467,76z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49 C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .contacts__item-box--third {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 384 384' style='enable-background:new 0 0 384 384;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M353.188,252.052c-23.51,0-46.594-3.677-68.469-10.906c-10.719-3.656-23.896-0.302-30.438,6.417l-43.177,32.594 c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208,11.167-20.198,7.635-31.448 c-7.26-21.99-10.948-45.063-10.948-68.583C132.146,13.823,118.323,0,101.333,0H30.813C13.823,0,0,13.823,0,30.813 C0,225.563,158.438,384,353.188,384c16.99,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.177,252.052,353.188,252.052z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .contacts__item:nth-child(2) {
        margin-left: 20rem;
    }
    .contacts__item:nth-child(3) {
        margin-left: 40rem;
    }
    .contacts__item-link .text {
        transition: all .3s ease-in-out;
    }
    .contacts__item-link .text:hover {
        letter-spacing: .1rem;
    }


    .policy__item:first-child .policy__block {
        margin-left: 20rem;
    }
    .policy__item:last-child .policy__block {
        margin-right: 20rem;
    }


    
}
